{
  "branches": ["main"],
  "debug": "false",
  "dryRun": "false",
  "tagFormat": "v${version}",
  "plugins": [
    "semantic-release-unsquash",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}