name: SemVer

on:
    push:
        branches: main
    workflow_dispatch:

jobs:
    semver:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ref: main
                token: ${{ secrets.PAT }}
            - name: Semantic Release
              uses: cycjimmy/semantic-release-action@v4
              with:
                semantic_version: 21.1.1
                branches: main
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }}
                NPM_TOKEN: ${{ secrets.NPM_TOKEN }}