name: Semantic version release and publish

permissions:
    contents: write # to be able to publish a GitHub release
    issues: write # to be able to comment on released issues
    pull-requests: write # to be able to comment on released pull requests
    id-token: write # to enable use of OIDC for npm provenance
    
on:
    push:
        branches: main
    workflow_dispatch:

jobs:
    semver:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ref: main
                token: ${{ secrets.PAT }}

            - name: Semantic Release
              uses: cycjimmy/semantic-release-action@v4
              with:
                semantic_version: 21.1.1
                branches: main
                dry_run: false
                extra_plugins:
                    semantic-release-unsquash
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }}
                NPM_TOKEN: ${{ secrets.NPM_TOKEN }}