name: PR workflow

on: 
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
      
      - name: Run tests
        run: npm test
      
  merge-check:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Check test status
        if: ${{ needs.test.result != 'success' }}
        run: exit 1 # Exit with a non-zero status code if tests fail
